/* Import Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display+SC&family=Roboto+Slab:wght@500&display=swap');

/* General Page Styling */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    transition: background-image 1s ease-in-out; /* Smooth transition */
}

/* Header Styling */
header {
    background-color: rgba(255, 105, 180, 0.9);
    padding: 50px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    border: 10px solid white;
    border-radius: 20px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
}

/* Logo Styling */
.logo {
    width: 250px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Section Styling */
section {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border-radius: 20px;


